body{
  font-family: Georgia,Times, "Times New Roman", serif;
  height: 100%;
}

.brand-img{
    height: 90px;
    margin-top: -40px;
}
.nav-right-padding{
  padding-right: 5%;
}

.nav-link1 > a{
  font-size: 10px;
  color: #354472;
  text-decoration: none;
  padding-right:1em;
}
.nav-link1 > a:hover, .nav-link1 > a:active{
  color: #49ade2;
  font-weight: bold;
}

.nav-link2{
  font-weight: bold;
  color: #49ade2;
}

.search-input{
  height: 20px;
  font-size: 10px;
  padding: 2px;
  border-radius: 0px;
}

.page-container{
  margin-bottom: 700px;
}
.pg-content-title{
  color: #49ade2;
  font-weight: bold;
}
.pg-content-imgs{
  /*width: 100%;*/
  padding-bottom: 30px;
  padding-left: 2px;
}

.pg-content-text{
  font-size: 12px;
}

/*== Slider ==*/
.slider-container{
  position: relative;
}
.slider-div{
  padding: 0px 0 30px 0;
  position: relative;
}
div.slider-control{
  padding: 0 10px 0 10px;
  position: absolute;
  top: 40%;
  width: 100%;
}
div.slider-control > a{
  color: #fff;
  text-decoration: none;
}

div.slider-control > a:hover, div.slider-control > a:active{
  color: #ffffff;
}

/*== Slider ==*/

/*== Footer ==*/
.pg-footer{
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  background-color: #515151 ;
  color: #eee;
}

.footer-links{
  text-align: center;
}

a.footer-links{
  text-align: center;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
}

a.footer-links:hover, a.footer-links:active{
  font-weight: bolder;
  text-decoration: none;
}

.footer-addr{
  text-align: center;
  font-size: 12px;
}
.footer-bars{
  color: #49ade2;
  font-weight: bolder;
}
a.footer-bars{
  text-decoration: none;
  font-size: 18px;
  padding: 2px
}
a.footer-bars:hover, a.footer-bars:active{
  color:#71bfe6;
}
/*== END Footer ==*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .pg-content-text, .pg-content-title{
    text-align: center;
  }
  .footer-addr{
    text-align: right;
  }
  .footer-links{
    text-align: left;
  }

  div.footer-links{
    text-align: center;
  }

  .navbar-default{
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar-default .navbar-nav > li > a {
      color: #49ade2;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
      color: #71bfe6;
  }
  .collapse_inverse{
    display:none;
  }
  .nav-fa{
    color: #49ade2;
    text-decoration: none;
    font-size: 18px;
  }

}

@media only screen and (max-width : 992px) {
  .nav-fa{
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  ul.nav-pills > li{
    position: relative;
    display: block;
    width: 100%;
  }
  .collapse-div-icons{
    margin-top: -55px;
  }
}
@media only screen and (max-width : 768px) {
  li.collapse_icon{
    display:none;
  }
}
